@{
    ViewData["Title"] = "Home Page";
}
<div id="container">
    <div id="row">
        <div id="form">
            <form action="/result" method="post">
                <p>Your Name: <input type="text" name="name" id=""></p>
                <p>Dojo Location: <select name="location" id="">
                    <option value="Bellevue">BelleVue</option>
                    <option value="Chicago">Chicago</option>
                    <option value="San Jose">San Jose</option>
                    </select>
                </p>
                <p>Favorite Language: <select name="language" id="">
                    <option value="Python">Python</option>
                    <option value="MERN">MERN</option>
                    <option value="C#">C#</option>
                    </select>
                </p>
                <p>Comments (optional):</p>
                <textarea name="Comments" id="" cols="60" rows="2"></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>